.button {
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.button_start {
    border-color: #4CAF50;
    color: green;
}

.button_start:hover {
    background-color: #4CAF50;
    color: white;
}

.button_stop {
    border-color: red;
    color: red;
}

.button_stop:hover {
    background-color: red;
    color: white;
}

.check_box {
    border: 2px solid black;
    background-color: white;
    padding: 14px 28px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 2px 16px;
    margin-top: 16px;
    border-radius: 5px;
    background-color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
    background-color: white;
    padding-bottom: 16px;
}

.file_list_line {
    border-left: 6px solid green;
    height: 100%;
    position: absolute;
    left: 10%;
    margin-left: -3px;
    top: 0;
}

.file_list_text {
    font-size: 18px;
    font-family: Roboto;
    color: darkgray;
    text-decoration: none;
    display: block;
}

.sub_title {
    margin-left: 150 px;
    font-size: 18px;
    font-family: Roboto;
    color: #2196F3;
    text-decoration: none;
    display: block;
}

.switch_title {
    font-size: 12px;
    font-family: Roboto;
    color: gray;
    text-decoration: none;
    display: inline-block;
}

.voltage_text {
    font-size: 24px;
    font-family: Roboto;
    color: black;
    opacity: 0.8;
}

.body {
    background-color: lightgray;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 16px;
    vertical-align: middle;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    vertical-align: middle;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}